.item_nav {
  position: relative;
  width: 70%;

  .item_nav_inner {
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
  }

  &.item_right {
    align-self: flex-end;
  }

	@media (max-width: 768px) {
    width: 100%;
  }
}

.description {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem 0 1rem;
}