.header {
  position: relative;
  z-index: 100;

  .hamburger {
    position: fixed;
    right: 0px;
    margin: 20px;
    z-index: 3;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease-in-out;

    .burger {
      width: 100%;

      &::after,
      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        margin: auto;
        background-color: #000;
        position: relative;
        transition: transform 0.3s;
        transition: 0.5s all ease-in-out;
      }

      &::after {
        top: -5px;
      }

      &::before {
        top: 5px;
      }
    }

    &.active {
      background-color: #000;

      .burger {

        &::after,
        &::before {
          background-color: #fff;
        }

        &::after {
          transform: rotate(45deg);
          top: -1px;
        }

        &::before {
          transform: rotate(-45deg);
          top: 0px;
        }
      }
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba($color: #000000, $alpha: 0);
    transition: 1s all ease-in-out;
    pointer-events: none;

    &.open {
      background: rgba($color: #000000, $alpha: 0.8);
      pointer-events: initial;
    }
  }
}