.sectionFooter {
	position: fixed;
	z-index: 1;
	bottom: 20px;
	right: 20px;

	.inner {
		display: flex;
		flex-direction: row;
		gap: 30px;
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 5px 10px;
			position: relative;

			height: 50px;
		}
	}
}
