.menu {
  height: 100vh;
  background-color: #f1f1f1;
  position: fixed;
  right: 0;
  top: 0;
  color: #000;
  width: 50vw;
  z-index: 2;

  .body {
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: 56px;
      gap: 12px;
      overflow-x: scroll;
      height: 100%;

      a {
        text-decoration: none;
        color: #000;
        font-weight: 300;
      }

    }
  }

}