.menu {
	height: 100vh;
	background-color: #f1f1f1;
	position: fixed;
	right: 0;
	top: 0;
	color: #000;
	width: 50vw;
	z-index: 2;
	@media (max-width: 600px) {
		width: 100%;
	}
	.body {
		box-sizing: border-box;
		height: 100%;
		padding: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: 600px) {
			padding: 60px 40px;
		}
		.containerNavItem {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			row-gap: 2rem;
		}
		.nav_top {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			.nav_title {
				font-weight: 700;
			}
			.nav_description {
				font-size: 0.5rem;
				font-weight: 600;
				font-style: italic;
			}
		}

		.nav {
			display: flex;
			flex-direction: column;
			font-size: 2rem;
			gap: 12px;
			overflow-x: scroll;
			height: 100%;

			a {
				text-decoration: none;
				color: #000;
				font-weight: 300;
			}
		}
	}
}
